<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_cloud.dao.one.PageTempletMapper">
  <resultMap id="BaseResultMap" type="com.example.demo_cloud.dao.entity.PageTemplet">
    <id column="SID" jdbcType="DECIMAL" property="sid" />
    <result column="NAME" jdbcType="OTHER" property="name" />
    <result column="CHANNEL" jdbcType="VARCHAR" property="channel" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="C_BY" jdbcType="VARCHAR" property="cBy" />
    <result column="M_BY" jdbcType="VARCHAR" property="mBy" />
    <result column="C_TIME" jdbcType="TIMESTAMP" property="cTime" />
    <result column="M_TIME" jdbcType="TIMESTAMP" property="mTime" />
    <result column="IS_DEL" jdbcType="DECIMAL" property="isDel" />
    <result column="TEMP_TYPE" jdbcType="DECIMAL" property="tempType" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from PAGE_TEMPLET
    where SID = #{sid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.example.demo_cloud.dao.one.PageTempletMapper">
    insert into PAGE_TEMPLET (SID, NAME, CHANNEL, 
      STATUS, C_BY, M_BY, C_TIME, 
      M_TIME, IS_DEL, TEMP_TYPE
      )
    values (#{sid,jdbcType=DECIMAL}, #{name,jdbcType=OTHER}, #{channel,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{cBy,jdbcType=VARCHAR}, #{mBy,jdbcType=VARCHAR}, #{cTime,jdbcType=TIMESTAMP}, 
      #{mTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=DECIMAL}, #{tempType,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo_cloud.dao.one.PageTempletMapper">
    update PAGE_TEMPLET
    set NAME = #{name,jdbcType=OTHER},
      CHANNEL = #{channel,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      C_BY = #{cBy,jdbcType=VARCHAR},
      M_BY = #{mBy,jdbcType=VARCHAR},
      C_TIME = #{cTime,jdbcType=TIMESTAMP},
      M_TIME = #{mTime,jdbcType=TIMESTAMP},
      IS_DEL = #{isDel,jdbcType=DECIMAL},
      TEMP_TYPE = #{tempType,jdbcType=DECIMAL}
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select SID, NAME, CHANNEL, STATUS, C_BY, M_BY, C_TIME, M_TIME, IS_DEL, TEMP_TYPE
    from PAGE_TEMPLET
    where SID = #{sid,jdbcType=DECIMAL}
  </select>
</mapper>